footer {
  z-index: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #343a40;
  height: 3rem;
}
footer a {
  color: white;
  padding-right: 1rem;
}
footer span {
  cursor: pointer;
  padding: 0 0.5rem;
  font-size: 1rem;
  color: white;
  transition: color 0.3s ease;
}
footer span:hover {
  color: #9e8b8b;
}
