footer {
  z-index: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #343a40;
  height: 3rem;
}
footer a {
  color: white;
}
footer span {
  cursor: pointer;
  padding: 0 0.5rem;
  font-size: 1rem;
  color: white;
  transition: color 0.3s ease;
}
footer span:hover {
  color: #9e8b8b;
}
footer .languages {
  display: flex;
  justify-content: flex-end;
}
footer .languages .language-list{
  display: flex;
  padding: 0 2rem;
}
footer .languages .language-list > :nth-child(0n+2):before {
  content: '|';
  line-height: 5px;
  font-weight: 700;
  padding: 0.2rem;
}
