.landing {
  position: relative;
  background: url('../utils/images/banner.jpg') repeat center;
  background-size: cover;
  height: 900px;
}
.landing .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7rem 2rem 1rem 2rem;
  background-color: #cc4b4b;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}
.landing .title img {
  width: 25rem;
}
.landing .title h2 {
  padding: 2rem 4rem;
  font-style: italic;
}
.landing .links {
  display: flex;
  justify-content: center;
}
.landing .links img {
  height: 10rem;
}
.landing a, .landing span  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  color: white;
  font-size: 1rem;
  padding: 3rem 2rem;
  width: 17rem;
  box-shadow: 5px 10px 25px 0 rgba(46,61,73,.2);
  transition: all 0.3s ease;
}
.landing a {
  background: #cc4b4b;
}
.landing span {
  background: #cea0a0;
  cursor: not-allowed;
}
.landing a:hover {
  box-shadow: 3px 3px 10px 0 rgba(46,61,73,.2);
  background: #732b2b;
}
.landing h3 {
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}
