.banner {
  position: relative;
  z-index: 1;
  background: url('../utils/images/banner.jpg') center;
  background-size: cover;
  height: 700px;
}
.banner .filter {
  top: 0;
  background: rgba(154, 96, 96, 0.8);
  height: 100%;
  width: 50%;
  display: grid;
  align-content: end;
  justify-content: right;
  text-align: center;
  position: absolute;
  z-index: 1;
}
.landing .header {
  display: flex;
  margin: 3rem 2rem 1rem 2rem;
  background-color: #cc4b4b;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  justify-content: space-between;
}
.landing .header img {
  height: 16rem;
  color: white;
}
.landing .header .title {
  display: block;
  margin-right: 3rem;
}
.landing .header .title h1 {
  padding-top: 3rem;
  color: white;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: right;
}
.landing .header .title h2 {
  font-size: 1.5rem;
  text-align: right;
}
.landing .header .subtitle {
  display: flex;
  margin-top: 2rem;
}
.landing .header .subtitle h2 {
  color: white;
}
.landing .header .subtitle .box {
  background-color: #eb8181;
  margin-left: 3rem;
  width: 20rem;
  padding: 0.5rem;
}
.landing .header .subtitle h2 {
  font-size: 1.5rem;
  text-align: right;
}
.landing .header .subtitle p {
  font-size: 1rem;
  text-align: right;
}
.landing .links {
  display: flex;
  justify-content: center;
}
.landing .links img {
  height: 10rem;
}
.landing a, .landing span  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  color: white;
  font-size: 1rem;
  padding: 3rem 2rem;
  width: 17rem;
  box-shadow: 5px 10px 25px 0 rgba(46,61,73,.2);
  transition: all 0.3s ease;
}
.landing a {
  background: #cc4b4b;
}
.landing span {
  background: #cea0a0;
  cursor: not-allowed;
}
.landing a:hover {
  box-shadow: 3px 3px 10px 0 rgba(46,61,73,.2);
  background: #732b2b;
}
.landing h3 {
  font-weight: 500;
  font-size: 1.2rem;
  text-transform: uppercase;
}
