.nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #343a40;
  box-shadow: 5px 10px 25px 0 rgba(46,61,73,.2);
  height: 3rem;
}
.nav a {
  color: white;
  transition: color 0.3s ease;
}
.nav a:hover {
  color: #9e8b8b;
}
.nav .menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: stretch;
  margin: 0 auto;
}
.nav .brand {
  display: flex;
  align-items: center;
}
.nav .brand img {
  width: 3.5rem;
}
.nav .brand h2 {
  margin-left: 1rem;
  color: white;
  background-color: #ff000094;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}
.nav .brand h4 {
  margin-top: 0.4rem;
  font-size: 0.9rem;
}
.nav .mainmenu {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.nav .mainmenu a {
  padding: 0 1rem;
}
.nav .usermenu {
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 1rem;
}
.nav .usermenu > :nth-child(1n) {
  margin-left: 1rem;
}
.nav .usermenu img {
  width: 2rem;
  border-radius: 5rem;
}
