.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #f7def0;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  height: 5rem;
}

.nav .menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.nav .title {
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.nav .title img {
  width: 7rem;
}
