.post {
  position: relative;
  z-index: 1;
  background: url("../utils/images/yogabackground.jpg") repeat;
  background-size: auto;
  height: stretch;
}
.post .post-content {
  display: flex;
  justify-content: space-between;
  margin: 5rem auto;
}
.post .post-content .post-image img {
  width: 40rem;
  height: auto;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
}
.post .post-content .content {
  background: white;
  margin-left: 3rem;
  padding: 2rem;
  width: 100%;
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
}
