.posts {
  padding-top: 3rem;
}
.posts .posts-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #cc4b4b;
}
.post-search-icon {
  position: fixed;
  display: flex;
  align-items: center;
  background-color: #b53f3f;
  box-shadow: 5px 10px 50px 0 rgba(46, 61, 73, 0.3);
  z-index: 10;
  cursor: pointer;
  margin: 2rem 15rem 0 0;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.5rem;
  right: 0;
}
.post-search-icon i {
  margin-left: 1rem;
  font-size: 1rem;
}
.posts .post-search-tool {
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  top: 3rem;
  background-color: white;
  border-top: 1px solid #a9a9a9;
  border-bottom: 1px solid #ececec;
  height: 5rem;
  box-shadow: 5px 10px 50px 0 rgba(46, 61, 73, 0.3);
  transition: all 0.5s ease;
}
.posts .post-search-tool .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.posts .post-search-tool .search input {
  padding: 0.5rem;
  border: 1px solid #e9e9e9;
  width: 15rem;
}
.posts .post-search-tool .search button {
  cursor: pointer;
  font-size: 2rem;
  background-color: white;
}
.posts .posts-list .post-item {
  position: relative;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  color: white;
  width: 20%;
  height: 21rem;
}
.posts .posts-list .post-item img {
  width: 100%;
  transition: all 0.3s ease;
}
.posts .posts-list .post-item .absolute {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.posts .posts-list .post-item .absolute h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.posts .posts-list .post-item .absolute h3 {
  padding: 1rem;
  font-size: 1.5rem;
}
.posts .posts-list .post-item:hover img {
  opacity: 0.5;
  transform: scale(1.1);
}
.posts .posts-list .post-item:hover .absolute {
  display: flex;
}
