@media only screen and (max-width: 1200px) {
  .posts .posts-list .post-item {
    width: 25%;
  }
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
  .landing .header .subtitle {
    display: block;
  }
  .landing .header .subtitle .box {
    margin: 2rem 0;
    width: auto;
  }
}
@media only screen and (max-width: 1100px) {
  .landing {
    height: 800px;
  }
  .landing .title {
    display: none;
  }
  .landing a,
  .landing span {
    margin-top: 3rem;
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .nav .brand .title {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .nav {
    height: 7rem;
  }
  .nav .menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .nav .usermenu {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  main {
    padding-top: 9rem;
  }
  main .title h2 {
    margin: 1rem 0;
    text-align: center;
  }

  .landing .header {
    display: block;
    height: 20rem;
  }
  .landing .header i {
    display: none;
  }
  .landing .header .title {
    margin: 0 2rem;
  }
  .landing .header .subtitle .box {
    margin: 1rem;
  }
  .landing a,
  .landing span {
    justify-content: flex-start;
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
  }
  .landing .links img {
    height: 5rem;
  }
  .landing p {
    font-size: 0.8rem;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .landing .links {
    flex-direction: column;
    justify-content: flex-start;
  }
  .landing {
    height: 1200px;
  }
  .landing a {
    justify-content: flex-start;
    margin-top: 2rem;
  }
  .landing span {
    justify-content: flex-start;
    margin-top: 0;
  }
  .landing a,
  .landing span {
    width: 15rem;
    height: 12rem;
  }
  .landing .links img {
    height: 10rem;
  }
  .landing p {
    font-size: 1rem;
    text-align: center;
  }
}
@media only screen and (max-width: 550px) {
  .banner {
    overflow: hidden;
  }
  .auth {
    width: 20rem;
  }
  .nav .brand {
    position: absolute;
    left: 0;
    top: 1rem;
  }
  .nav .mainmenu {
    padding-top: 5rem;
  }
  .landing .header {
    height: 25rem;
  }
}
@media only screen and (max-width: 450px) {
  .nav .brand h2 {
    display: none;
  }
  .nav .mainmenu {
    font-size: 0.8rem;
  }
  .nav .usermenu {
    font-size: 0.8rem;
  }
  .landing .header {
    display: none;
  }
}
/* Iphone 5 responsive */
@media only screen and (max-width: 320px) {
  .auth {
    width: 18rem;
  }
  .landing a,
  .landing span {
    width: 13rem;
  }
}
