@media only screen and ( max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
}
@media only screen and ( max-width: 1100px) {
  .landing .banner {
    height: 700px;
  }
  .landing .banner .title {
    display: none;
  }
  .landing .banner a, .landing .banner span  {
    margin-top: 8rem;
    width: 10rem;
    height: 10rem;
  }
}
@media only screen and ( max-width: 900px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .nav .brand .title {
    display: none;
  }
}
@media only screen and ( max-width: 800px) {
  .nav {
    height: 7rem;
  }
  .nav .menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .nav .usermenu {
    position: absolute;
    right: 1rem;
    top: 1rem
  }
  main {
    padding-top: 9rem;
  }
  main .title h2 {
    margin: 1rem 0;
    text-align: center;
  }
  .landing .banner a, .landing .banner span  {
    justify-content: flex-start;
    margin-top: 12rem;
    width: 7rem;
    height: 7rem;
  }
  .landing .banner .links img {
    height: 5rem;
  }
  .landing .banner p {
    font-size: 0.8rem;
    text-align: center;
  }
}
@media only screen and ( max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .landing .banner .links {
    flex-direction: column;
    justify-content: flex-start;
  }
  .landing .banner {
    background: none;
  }
  .landing .banner a  {
    justify-content: flex-start;
    margin-top: 10rem;
  }
  .landing .banner span  {
    justify-content: flex-start;
    margin-top: 0;
  }
  .landing .banner a, .landing .banner span  {
    width: 15rem;
    height: 12rem;
  }
  .landing .banner .links img {
    height: 10rem;
  }
  .landing .banner p {
    font-size: 1rem;
    text-align: center;
  }
}
@media only screen and ( max-width: 550px) {
  .auth {
    width: 20rem;
  }
  .nav .brand img {
    position: absolute;
    display: block;
    left: 0;
  }
  .nav .mainmenu {
    padding-top: 5rem;
  }
}
@media only screen and ( max-width: 450px) {
  .nav .mainmenu {
    font-size: 0.8rem;
  }
  .nav .usermenu {
    font-size: 0.8rem;
  }
}
/* Iphone 5 responsive */
@media only screen and ( max-width: 320px) {
  .auth {
    width: 18rem;
  }
  .landing .banner a, .landing .banner span  {
    width: 13rem;
  }
}
